<div class="product-view">
  <div class="product-photo">
    <img id="product-image" src="img/gallery/white-chair.jpg" alt="white chair" draggable="true">
    <div class="like">
      <p>495</p>
      <span>
        <img id="like" src="img/icons/like.png" alt="like this">
        <img id="liked"  src="img/icons/like-a.png" alt="liked">
      </span>
    </div>
    <div class="photo-zoom">
      <img id="plus" src="img/icons/plus.png" alt="zoom in">
      <img id="minus" src="img/icons/minus.png" alt="zoom out">
    </div>
  </div>

  <div class="product-desc">
    <div class="prod">
      <div class="prod-head">
        <h1>products</h1>
        <span>
          <p>living room</p>
          <img src="img/icons/living-room.png" alt="living room">
        </span>
      </div>
      <div class="prod-body">
        <h1>white seat</h1>
        <h1> - office</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Ut fermentum interdum malesuada. Sed ornare posuere lobortis. </p>

        <div class="prod-options">
          <div class="cost">
            <p>cost</p>
            <p>$65</p>
            <p>$90</p>
          </div>
          <div class="qty">
            <p>quantity</p>
            <input id="qty">
          </div>
          <button id="add-to-chart">add to chart</button>
        </div>
      </div>
    </div>

    <div class="recommended">
      <p class="vertical">recommended</p>
      <div class="showcase">
        <a href="product-info.html" class="rec-item">
          <img src="img/gallery/black-chair.jpg" alt="black chair">
          <div class="prod-info-bottom">
            <h3>blue seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$35</p>
          </div>
        </a>
        <a href="product-info.html" class="rec-item">
          <img src="img/gallery/red-chair.jpg" alt="red chair">
          <div class="prod-info-bottom">
            <h3>blue seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$35</p>
          </div>
        </a>
        <a href="product-info.html" class="rec-item">
          <img src="img/gallery/mib-chair.jpg" alt="blue chair">
          <div class="prod-info-bottom">
            <h3>blue seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$35</p>
          </div>
        </a>
      </div> <!-- SHOWCASE -->
    </div>  <!-- RECOMMENDED -->
  </div>  <!-- PRODUCT-DESC -->
</div>
