<section>
  <div class="prod-head">
    <h1>products</h1>
    <span>
      <p>living room</p>
      <img src="img/icons/living-room.png" alt="living room">
    </span>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/red-chair.jpg" alt="red chair">
          <div class="prod-info-bottom">
            <h3>red seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$45</p>
          </div>
        </a>
      </div>
      <div class="col-xs-9">
        <a class="product large" href="product-info.html">
          <img src="img/gallery/white-table.jpg" alt="white table">
          <div class="prod-info-side">
            <h3>white table</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$350</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/mib-chair.jpg" alt="mib chair">
          <div class="prod-info-bottom">
            <h3>blue seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$35</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6">
        <a class="product medium" href="product-info.html">
          <img src="img/gallery/black-bed.jpg" alt="black bed">
          <div class="prod-info-side">
            <h3>modern bed</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$120</p>
          </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/black-chair.jpg" alt="black chair">
          <div class="prod-info-bottom">
            <h3>dark seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$50</p>
          </div>
        </a>
      </div>
    </div>

    <a class="more" href="#">show more products</a>

    <!--  HIDDEN  -->
    <div class="row read-more">
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/red-chair.jpg" alt="red chair">
          <div class="prod-info-bottom">
            <h3>red seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$45</p>
          </div>
        </a>
      </div>
      <div class="col-xs-9">
        <a class="product large" href="product-info.html">
          <img src="img/gallery/white-table.jpg" alt="white table">
          <div class="prod-info-side">
            <h3>white table</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$350</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row read-more">
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/mib-chair.jpg" alt="mib chair">
          <div class="prod-info-bottom">
            <h3>blue seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$35</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6">
        <a class="product medium" href="product-info.html">
          <img src="img/gallery/black-bed.jpg" alt="black bed">
          <div class="prod-info-side">
            <h3>modern bed</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$120</p>
          </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/black-chair.jpg" alt="black chair">
          <div class="prod-info-bottom">
            <h3>dark seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$50</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row read-more">
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/red-chair.jpg" alt="red chair">
          <div class="prod-info-bottom">
            <h3>red seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$45</p>
          </div>
        </a>
      </div>
      <div class="col-xs-9">
        <a class="product large" href="product-info.html">
          <img src="img/gallery/white-table.jpg" alt="white table">
          <div class="prod-info-side">
            <h3>white table</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$350</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row read-more">
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/mib-chair.jpg" alt="mib chair">
          <div class="prod-info-bottom">
            <h3>blue seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$35</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6">
        <a class="product medium" href="product-info.html">
          <img src="img/gallery/black-bed.jpg" alt="black bed">
          <div class="prod-info-side">
            <h3>modern bed</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$120</p>
          </div>
        </a>
      </div>
      <div class="col-xs-3">
        <a class="product" href="product-info.html">
          <img src="img/gallery/black-chair.jpg" alt="black chair">
          <div class="prod-info-bottom">
            <h3>dark seat</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p class="price">$50</p>
          </div>
        </a>
      </div>
    </div>
  </div>

</section>
