<div id="menu">
  <span class="top"></span>
  <span class="center"></span>
  <span class="bottom"></span>
</div>

<aside>
  <nav id="sidenav">
    <a class="living-room-icon" href="products.html">living room
      <img src="img/icons/living-room.png">
      <img class="hover-icon" src="img/icons/living-room-a.png">
    </a>
    <a class="living-room-icon" href="#">office
      <img src="img/icons/office.png">
      <img class="hover-icon" src="img/icons/office-a.png">
    </a>
    <a class="living-room-icon" href="#">for kids
      <img src="img/icons/kids.png">
      <img class="hover-icon" src="img/icons/kids-a.png">
    </a>
    <a class="living-room-icon" href="#">kitchen
      <img src="img/icons/kitchen.png">
      <img class="hover-icon" src="img/icons/kitchen-a.png">
    </a>
    <a class="living-room-icon" href="#">accesories
      <img src="img/icons/acc.png">
      <img class="hover-icon" src="img/icons/acc-a.png">
    </a>
  </nav>


<a href="#" class="categories">show all categories</a>
</aside>
