<div class="slider">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/slider/f0.jpg" alt="home-slide">
      </div>
      <div class="item">
        <img src="img/slider/f3.png" alt="2nd-slide">
      </div>
      <div class="item">
        <img src="img/slider/f2.png" alt="3rd-slide">
      </div>
      <div class="item">
        <img src="img/slider/f5.png" alt="4th-slide">
      </div>
    </div>
  </div>
</div>
