section
  max-width: 960px
  margin: 50px auto 100px
  @media (max-width: 1085px)
    margin: 50px 10px 100px 60px

  .more
    margin-top: 100px
    position: relative
    color: $accent
    &::before
      content: ''
      position: absolute
      width: 0
      height: 1px
      bottom: 0
      left: 0
      background-color: $accent
      visibility: hidden
      transition: .5s ease-in-out
    &:hover::before
      visibility: visible
      width: 100%

  .prod-head
    display: flex
    justify-content: space-between
    @media (max-width: 570px)
      flex-direction: column

    span
      padding-top: 17px
      display: flex

    h1
      font:
        size: 60px
        weight: 300
      text-transform: uppercase

    p
      display: inline
      line-height: 3
      color: $gray
      margin-right: 20px
      text-transform: uppercase
    img
      vertical-align: middle
      width: 40px
      height: 40px

  .container-fluid
    padding: 0
    margin-top: 50px
    text-align: center

    .row
      margin-bottom: 20px
      @media (max-width: 720px)
        margin-bottom: 0
        display: flex
        flex-direction: column
        .col-xs-3, .col-xs-6, .col-xs-9
          width: 100%

      img
        width: 100%
        height: auto
        display: block

      h3
        text-transform: uppercase
        font:
          size: 30px
          weight: 300

      p
        text-transform: none

      .price
        color: $accent
        font-weight: bold
        margin-top: 20px

      .product
        display: block
        text-align: left
        transition: .5s ease-in-out
        border: 1px solid transparent
        &:hover
          border-color: $accent
        @media (max-width: 720px)
          background-color: #fff
          margin-bottom: 20px
          img
            margin: 0 auto
            width: 50% !important

      .large
        display: flex
        height: 389px
        @media (max-width: 720px)
          flex-direction: column
      .medium
        @extend .large
        img
          width: 58%

      .prod-info-bottom
        background-color: #fff
        margin-top: -3px
        padding: 30px
        @media (max-width: 720px)
          text-align: center

      .prod-info-side
        background-color: #fff
        padding: 30px
        @media (max-width: 720px)
          text-align: center

  .read-more
    display: none
    @media (max-width: 720px)
      display: none
