#modal
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 160vh
  z-index: 2
  margin: -100px 0 0 50px
  background-color: rgba(255, 255, 255, .9)
  transition: .5s ease-in-out
  transform: translateY(-100%)
.active-modal
  transform: translateY(0) !important

  input
    width: 70%
    display: block
    margin: 100px auto 0
    font:
      size: 10vw
      weight: 300
    background: transparent
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 2px solid $gray
    outline: none
    transition: .5s ease-in-out
    &:focus
      border-bottom-color: $accent
    &::after
      content: 'x'

  p
    font-size: 2vw
    color: $gray
    width: 70%
    margin: 0 auto

  #button
    font:
      size: 12vh
      weight: 100
    color: $gray
    position: absolute
    top: 120px
    right: 100px
    transition: .5s ease-in-out
    @media (max-width: 800px)
      font-size: 5em

    &:focus
      outline: none
    &:hover
      color: black
    &::after
      content: 'x'
